.btn:hover {
    background-color: #fcd3c9 !important; /* Slightly darker pink on hover */
    color: #e04b35 !important; /* Darker red text */
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  